################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebApiVersioning.API/.vs/WebApiVersioning.API
